<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Tasker - это удобный онлайн-задачник для организации ваших задач.">
		<meta name="keywords" content="tasker, todo, task_tracker, task_app, tasks">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/app/client/imgs/favicon.ico">
		<link rel="stylesheet" href="/app/client/css/app.css">
		<title>Tasker | New</title>
	</head>
	<body class="bg-zinc-950">
		<div id="root" class="container flex flex-col mx-auto bg-zinc-900 h-dvh px-12"></div>
		<script type="module" src="/app/client/scripts/app.js" defer></script>
		<noscript>You need to enable JavaScript to run this app.</noscript>
	</body>
</html>